@media(max-width : 575px) {

    /*Homepage*/
    .carousel,
    .carousel-inner,
    .carousel-item {
        height: 400px;
    }

    .aboutimg3 {
        width: 100%;
    }

    .aboutimg1 {
        width: 100%;
    }

    .aboutimg2 {
        width: 85%;
    }
}

@media (max-width: 768px) {

    /*Homepage*/
    .name-cont {
        display: flex;
        width: 90%;
    }

    .menu-btn {
        display: block;
    }

    .navcont {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(-15px);
        transition:
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
    }

    .navcont.show-menu {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-cont {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .nav-syslogin {
        right: 0;
        background: none;
        color: #fff;
        font-family: var(--font-def);
        padding: 0;
        margin-bottom: 10px;
    }

    /*login page*/

    .login-container {
        flex-direction: column;
        height: 100%;
        background-color: #fff !important;
    }

    .login-left {
        height: 250px;
        overflow: hidden;
        flex: none !important;
        background-color: #fff;
    }

   .login-card{
        padding-top: 50px !important;
}

}

/* Mobile sidebar hidden by default */
@media (max-width: 991px) {
    .sidebar-sys-nav {
        position: fixed;
        top: 0;
        left: -400px;
        width: 260px;
        height: 100%;
        z-index: 999;
        transition: 0.3s ease;
    }

    .sidebar-sys-nav.open {
        left: 0;
    }

        .dash-login-info{
            justify-content: start;
        }

    .menu-toggle {
        font-size: 24px;
        background: none;
        border: none;
        color: white;
    }

    .active-comp-admin{
        padding-left: 10px;
    }

    .nav-toggle-sys{
        border-radius: 5px;
    }
}